.drawer {
  color: white;
  text-align: center;
  /* font-size: 20px; */
  background-color: #2f3136;
  z-index: 5;
  /* padding: 10px; */
  /* height: 100%; */
  overflow: visible;
  width: 0%;
  border-radius: 10% 0% 0% 10%;
  transition: width 1s ease;
  box-sizing: border-box;
  box-shadow: 1px 2px #888888;
  /* overflow-y: scroll; */
  background-image: linear-gradient(#2f3136, #aaaaaa);
}

.drawer-values {
  overflow-y: scroll;
}

.drawer-open {
  width: 22%;
}
