.container {
  /* background-color: #2f3136; */
  background-color: #e0fbfc;
  display: flex;
  width: 100%;
  height: 70px;
  color: black;
}

.container-dark {
  background-color: #212121;
  /* background-color: #bb86fc; */
  display: flex;
  width: 100%;
  height: 70px;
  color: black;
}

.container .button {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.button:active {
  background-color: white;
}

.header-button {
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color: #3f3737;
  outline: none;
  border: 0px;
  transition: width 0.2s, height 0.2s;
}

.header-button:hover {
  width: 55px;
  height: 55px;
}

.header-button:focus {
  border: 4px solid grey;
}

.dropdown {
  justify-content: left;
  align-items: left;
  flex-direction: column;
  color: #3f3737;
}

.settings-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: black; */
}

.toggle-switch {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #3f3737;
  margin: 5px;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s;
}

.toggle-switch {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #3f3737;
  margin: 5px;
  align-items: center;
  /* justify-content: flex-end; */
}

.toggle-switch-dark {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #555555;
  margin: 5px;
  align-items: center;
  /* justify-content: flex-end; */
}

.toggle-ball {
  display: flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s;
}

.toggle-ball-dark {
  display: flex;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ff5b4e;
  transition: 0.5s;
  transform: translate(22px);
}

