.main-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #293241;
  /* padding: 0% 0 2% 2%; */
  flex: 1;
}

.drawer-container {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  height: 80%;
  width: 100%;
}

.canvas {
  position: absolute;
  /* background-color: aqua; */
  background-color: #98c1d9;
  z-index: 1;
  height: 100%;
  width: 75%;
}

.node-container {
  position: absolute;
  z-index: 3;
}

.arrow-container {
  position: absolute;
  z-index: 2;
}
